import React, { useEffect, useState, Fragment } from 'react';
import ReactDom from 'react-dom';
{{#if hasLess}}
import './index.less';
{{/if}}

const App = () => {
    const [isMount, setIsMount] = useState(false);
    useEffect(() => {
        setIsMount(true);
    }, [])
    return (
        <div>
            wellcome to use react-cli-sh
            {
                isMount && <div>done</div>
            }
        </div>
    )
}

const container = document.getElementById('app');
ReactDom.render(<App />, container)